<form method="post" action="">
  {% csrf_token %}
  <div>
  <table border="1">
    {{ form }}
  </table>
  <button type="submit">Submit</button></form>
</div>
  <div>
  	{% if todo_list %}
    <ul>
    {% for todo in todo_list %}
       <li><a href="/todo/{{todo.id}}/">{{ todo.title }}</a></li>
       <ul>
       	<li>{{todo.desc}}<br>
       		<a href="{% url 'update_todo' todo.id%}">EDIT</a>
       		<br><br>
       	</li>
       </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
  </div>
</form>